.synopsis {
  color: #231341;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 800;
  display: inline;
  text-align: center;
}

.summary-container {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  background-color: green;
}

.info-container {
  display: inline; 
  float: left;
}

.host-container {
  margin-top: 12px;
  margin-bottom: 6px;
  position: relative;
  float: right;
  flex-direction: column;
}

.avatar-container {
  display: block;
  position: relative;
}

.title {
  font-weight: 800;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #484848;
  font-size: 32px;
}

.city {
  font-size: 16px;
}

.avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}

.badge {
  height: 32px;
  width: 32px;
  z-index: 2;
  position: absolute;
  top: 35px;
  left: 40px;
}

.host-name {
  font-size: 14px;
  color: #767676;
  text-align: center;
}
